.chat
  = render partial: "groups/chat-side"
  .chat-main
    .chat-header
      .chat-header--left
        %h2
          = @group.name
        %p.chat-header__users
          Members：
          = render partial: "members"
      .chat-header--right
        = link_to "Edit", edit_group_path(@group), class: "chat-header__edit"
    .chat-body
      %ul.chat-messages
        %li.chat-message
          .chat-message__header
            %p.chat-message__user seo
            %p.chat-message__date 2016/9/21
          .chat-message__text hello world
        %li.chat-message
          .chat-message__header
            %p.chat-message__user neko
            %p.chat-message__date 2016/9/21
          .chat-message__text good bye world
    .chat-footer
      %form
        .chat-footer__text
          %textarea{placeholder: "type a message"}
          %label{class: "chat-footer__file"}
            %i{class: "fa fa-file-image-o"}
        %input{type: "submit", value: "send"}
