.account-page{
  .account-page__inner{
    @include clearfix();
    width: 980px;
    margin: 60px auto;
    padding: 60px;
    background-color: #fff;
    border: 1px solid #ddd;
    .account-page__inner--left{
      float: left;
      width: 50%;
      h2{
        margin-bottom: 10px;
        letter-spacing: 3px;
        font-size: 40px;
        font-weight: 200;
        &:after{
          content: "";
          display: block;
          width: 60px;
          margin-top: 10px;
          border-bottom: 1px solid #38aef0;
        }
      }
      h5{
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 200;
      }
      .btn{
        display: inline-block;
        height: 50px;
        padding: 0 30px;
        line-height: 50px;
        letter-spacing: 1px;
        border: none;
        text-decoration: none;
      }
    }
    .account-page__inner--right{
      float: left;
      width: 50%;
      .field{
        margin-bottom: 10px;
        .field-label{
          padding: 10px;
          font-size: 14px;
          letter-spacing: 1px;
          font-weight: 200;
          i{
            font-size: 11px;
          }
        }
        .field-input{
          input{
          width: 100%;
          padding: 10px;
          letter-spacing: 1px;
          }
        }
      }
      .actions{
        input{
        color: #fff;
        margin-top: 20px;
        background-color: #38aef0;
        height: 50px;
        padding: 0 30px;
        line-height: 50px;
        border: none;
        font-size: 14px;
        font-weight: 200;
        }
      }
    }
  }
}

.btn{
  margin-top: 20px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
}
