#error_explanation2{
  height: 20px;
  margin: 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  ul{
    padding-left: 17px;
    list-style: none;
    li{
      font-size: 18px;
      line-height: 20px;
    }
  }
}
