html,body{
  height: 100%
}

.chat{
  min-width: 980px;
  height: 100%;
  .chat-side{
    height: 100%;
    width: 300px;
    float: left;
    background-color: #2f3a51;
    overflow: scroll;
    .chat-side__header{
      height: 100px;
      line-height: 100px;
      background-color: #253141;
      width: 300px;
      @include clearfix();
      h5{
        float: left;
        color: #ffffff;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 16px;
        margin-left: 20px;
      }
      .font-awesome{
        float: right;
        margin-right: 20px;
        line-height: 100px;
        .chat-user__action{
          color: #fff;
          margin: 15px 0 15px 3px;
          line-height: 28px;
          font-size: 20px;
          text-decoration: none;
        }
      }
    }
    .chat-groups{
      list-style: none;
      min-height: 100%;
      .link{
        display: block;
        padding: 20px;
        text-decoration: none;
        .chat-group__name{
          font-size: 15px;
          color: #FFFFFF;
          margin-bottom: 5px;
        }
        .chat-group__message{
          font-size: 11px;
          color: #FFFFFF;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .link:hover{
        background-color: #434d62;
      }
    }
  }
  .chat-main{
    height: 100%;
    width: calc(100% - 300px);
    float: left;
    position: relative;
    .chat-header{
      height: 100px;
      margin-left: 40px;
      margin-right: 20px;
      .chat-header--left{
        float: left;
        h2{
          font-size: 20px;
          color: #333333;
          margin-top: 20px;
          letter-spacing: 2px;
        }
        p{
          font-size: 12px;
          color: #999999;
          margin-top: 15px;
        }
      }
      .chat-header--right{
        float: right;
        a{
          border: solid 2px;
          color: #38aef0;
          padding: 10px 20px;
          line-height: 100px;
          text-decoration: none;
        }
      }
    }
    .chat-body{
      height: calc(100% - 190px);
      background-color: #eeeeee;
      overflow: scroll;
      position: relative;
      border: #eeeeee;
      .chat-messages{
        float: left;
        left: 40px;
        right: 40px;
        margin-top: 40px;
        margin-left: 40px;
        list-style: none;
        .chat-message{
          margin-bottom: 40px;
          display: grid;
          .chat-message__header{
            float: left;
            line-height: 20px;
            margin-bottom: 10px;
            @include clearfix();
            .chat-message__user{
              float: left;
              margin-right: 10px;
              font-size: 16px;
              font-weight: bold;
              color: #434a54;
            }
            .chat-message__date{
              float: left;
              font-size: 12px;
              color: #999999;
            }
          }
          .chat-message__text{
            width: 900px;
            word-wrap: break-word;
            font-size: 14px;
            color: #434a54;
          }
          img{
          max-width: 300px;
          max-height: 300px;
          }
        }
      }
    }
    .chat-footer{
      right: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      background-color: #ddd;
      padding: 20px 40px;
      form{
        .chat-footer__text{
          float: left;
          height: 50px;
          width: calc(100% - 115px);
          position: relative;
          textarea{
            height: 20px;
            width: 100%;
            padding: 15px 0 15px 10px;
            border: none;
            line-height: 20px;
          }
          label{
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 50px;
            text-align: center;
            line-height: 50px;
          }
        }
        input{
          float: left;
          width: 100px;
          color: #fff;
          background-color: #38aef0;
          line-height: 50px;
          margin-left: 15px;
          border: none;
          padding: 0;
        }
      }
    }
  }
}

#file-input{
  display: none;
}

