.notice{
  background-color: $updateBlueColor;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

.alert{
  background-color: $errorRedColor;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
